@import "../utilities/variables";

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.2),
      rgba($color-primary-dark, 0.6)
    ),
    url(/../../assets/img/Hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__logo-box {
    // position: absolute;
    display: inline-block;
    top: 2px;
    left: 2rem;
    animation: moveInRight 1.2s ease-in;
  }

  &__logo {
    height: 20rem;
  }

  &__logo-box:hover &__logo {
    animation: moveInRight 1.2s ease-in;
  }

  &__navigation {
    padding: 2rem;
    display: inline-block;
    // float: right;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 400;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
