@import "../utilities/variables";

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.2),
      rgba($color-primary-dark, 0.6)
    ),
    url(/../../assets/img/Hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__logo-box {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 2rem;
    animation: moveInRight 1.2s ease-in;
  }

  &__logo {
    height: 20rem;
  }

  &__logo-box:hover &__logo {
    animation: moveInRight 1.2s ease-in;
  }
}
