@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  padding: 2rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(253, 125, 78, 0.2), rgba(240, 44, 10, 0.6)), url(/../../assets/img/Hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 2rem;
    animation: moveInRight 1.2s ease-in; }
  .header__logo {
    height: 20rem; }
  .header__logo-box:hover .header__logo {
    animation: moveInRight 1.2s ease-in; }
